@use 'config' as *;

/**Develop Styles*/
body {
  font-family: $fam-font;
  background-color: $body-color;
}
.services {
  .services__ct {
    h1 {
      font-size: $fs-big;
      font-weight: $fw-bold;
      text-transform: uppercase;
      margin-bottom: 25px;
    }
    .card__wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
      .card {
        color: $action-color;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 35px 0;
        border-radius: 18px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        i {
          font-size: 2rem;
        }
        span {
          font-size: $fs-normal;
        }
        &:hover {
          background-color: $action-color;
          color: $body-color;
        }
      }
    }
  }
}

//*****************************

.contact {
  .contact__ct {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    .info__wrapper {
      h1 {
        font-size: $fs-big;
        font-weight: $fw-bold;
        margin-bottom: 10px;
        text-transform: uppercase;
      }
      p {
        margin-bottom: 20px;
      }
    }

    form {
      margin-bottom: 50px;
      color: $brand-color;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px 0;
      border-radius: 20px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

      h2 {
        font-size: $fs-big;
        font-weight: $fw-bold;
        text-transform: uppercase;
      }

      span {
        margin-bottom: 20px;
      }

      .input__wrp {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      input {
        width: 90%;
        border-radius: 10px;
        border: none;
        outline: 1px solid rgb(206, 204, 204);
        padding: 5px 0;
        display: block;
        margin-bottom: 10px;
        &::placeholder {
          color: rgb(168, 165, 165);
          font-size: $fs-small;
        }
      }

      button {
        cursor: pointer;
        background-color: $action-color;
        width: 90%;
        border-radius: 22px;
        text-transform: uppercase;
        font-weight: $fw-bold;
        color: $body-color;
        &:hover {
          opacity: 0.9;
        }
      }
    }

    .details__wrapper {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      .detail {
        display: flex;
        align-items: center;
        gap: 1rem;

        .i_1 {
          margin-left: 10px;
        }

        h4 {
          font-size: 1.2rem;
          font-weight: $fw-bold;
          margin-bottom: 8px;
          p {
            font-size: $fs-small;
          }
        }
        i {
          color: $action-color;
          font-size: 1.8rem;
        }
      }
    }
  }
}

//************
.staff {
  .staff__ct {
    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 40px 20px;
      border: 2px solid $action-color;
      border-radius: 22px;

      .card__staff__definition {
        font-family: $fam-font;
        font-size: $fs-big;
        text-transform: uppercase;
        font-weight: $fw-bold;
        margin-bottom: 30px;
      }

      .img__wp {
        width: 150px;
        height: 150px;
        z-index: 2;
        overflow: hidden;
        position: relative;
        background-color: rgb(249, 249, 249);
        border-radius: 50%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        margin-bottom: 30px;
        img {
          z-index: 1;
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .name__staff,
      span:first-of-type {
        margin-right: auto;
        display: inline-flex;
        margin-bottom: 5px;
      }
      .name__staff {
        font-size: $fs-big;
        font-weight: $fw-medium;
      }

      .rating {
        margin-bottom: 40px;
        i {
          color: rgb(232, 171, 5);
        }
      }
    }
  }
}

//**********
.blog {
  .blog__ct {
    .blog__lead__wrapper {
      margin-bottom: 40px;
      h1 {
        font-size: $fs-big;
        font-weight: $fw-bold;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
      p {
        font-weight: $fw-medium;
      }
    }
    .blog__content__wrapper {
      gap: 60px;
      .img__blog {
        display: flex;
        justify-content: center;
        img {
          width: 290px;
          margin-bottom: 20px;
          border-radius: 8px;
          box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
        }
      }

      h2 {
        font-size: $fs-big;
        margin-bottom: 20px;
      }

      p {
        font-size: $fs-small;
        margin-bottom: 10px;
      }
      button {
        float: inline-end;
      }
    }
  }
}

//**********
.map {
  padding-bottom: 5rem;
  .map__ct {
    background-color: $action-color;
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    gap: 30px;
    .contact__map__wrapper {
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      color: $body-color;
      h1 {
        font-size: $fs-big;
        font-weight: $fw-bold;
      }
      h2 {
        font-weight: $fw-bold;
        font-size: $fs-normal;
      }
      span {
        font-weight: $fw-light;
      }
      .socials {
        display: flex;
        gap: 10px;
        margin-bottom: 40px;
      }
    }

    .map__md__devices {
      display: none;
    }

    .mobile__map {
      display: block;
    }
  }
  .map__wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }
}

//*********

footer {
  background-color: #f6f6f6;

  .footer__ct {
    display: flex;
    flex-direction: column;
    align-items: center;
    .brand__logo__ft {
      color: $action-color;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 20px;
      i {
        font-size: 2.6rem;
      }

      span {
        font-size: 1.1rem;
      }
    }
    .links__ft__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 3rem;

      .footer__links {
        display: flex;
        flex-direction: column;
        a {
          color: $brand-color;
          font-size: $fs-normal;
          font-weight: $fw-medium;
          &:hover {
            text-decoration: underline;
          }
        }
      }

      .btn__footer__wrapper {
        display: flex;
        flex-direction: column;
        button {
          border: 1px solid black;
          width: fit-content;
          font-weight: $fw-medium;
          padding: 5px 10px;
          border-radius: 0;
          margin-bottom: 10px;
          a {
            color: $brand-color;
          }
        }
      }
    }
  }

  .separator {
    height: 1px;
    width: 100%;
    background-color: $brand-color;
    margin-bottom: 10px;
    opacity: 0.2;
  }

  .cpy__wp {
    font-size: $fs-normal;
    font-weight: $fw-medium;
    display: flex;
    justify-content: center;
    gap: 20px;

    .jm {
      color: $action-color;
      opacity: 1 !important;
    }
  }
}
