@use 'config' as *;

/**Develop Styles*/
body {
  font-family: $fam-font;
  background-color: $body-color;
}

.services {
  .services__ct {
    h1 {
      font-size: $fs-big;
      font-weight: $fw-bold;
      text-transform: uppercase;
      margin-bottom: 25px;
    }
    .card__wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
      .card {
        color: $action-color;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 35px 0;
        border-radius: 18px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        i {
          font-size: 2rem;
        }
        span {
          font-size: $fs-normal;
        }
        &:hover {
          background-color: $action-color;
          color: $body-color;
        }
      }
    }
  }
}

//*****************************

.contact {
  .contact__ct {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    .info__wrapper {
      h1 {
        font-size: $fs-big;
        font-weight: $fw-bold;
        margin-bottom: 10px;
        text-transform: uppercase;
      }
      p {
        margin-bottom: 20px;
      }
    }

    form {
      margin-bottom: 50px;
      color: $brand-color;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px 0;
      border-radius: 20px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

      h2 {
        font-size: $fs-big;
        font-weight: $fw-bold;
        text-transform: uppercase;
      }

      span {
        margin-bottom: 20px;
      }

      input {
        width: 90%;
        border-radius: 10px;
        border: none;
        outline: 1px solid rgb(206, 204, 204);
        padding: 5px 0;
        display: block;
        margin-bottom: 10px;
        &::placeholder {
          color: rgb(168, 165, 165);
          font-size: $fs-small;
        }
      }

      button {
        cursor: pointer;
        background-color: $action-color;
        width: 90%;
        border-radius: 22px;
        text-transform: uppercase;
        font-weight: $fw-bold;
        color: $body-color;
        &:hover {
          opacity: 0.9;
        }
      }
    }

    .details__wrapper {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      .detail {
        display: flex;
        align-items: center;
        gap: 1rem;

        .i_1 {
          margin-left: 10px;
        }

        h4 {
          font-size: 1.2rem;
          font-weight: $fw-bold;
          margin-bottom: 8px;
          p {
            font-size: $fs-small;
          }
        }
        i {
          color: $action-color;
          font-size: 1.8rem;
        }
      }
    }
  }
}

//************
.staff {
  .staff__ct {
    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 40px 20px;
      border: 2px solid $action-color;
      border-radius: 22px;

      .card__staff__definition {
        font-family: $fam-font;
        font-size: $fs-big;
        text-transform: uppercase;
        font-weight: $fw-bold;
        margin-bottom: 30px;
      }

      .img__wp {
        width: 150px;
        height: 150px;
        z-index: 2;
        overflow: hidden;
        position: relative;
        background-color: rgb(249, 249, 249);
        border-radius: 50%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        margin-bottom: 30px;
        img {
          z-index: 1;
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .name__staff,
      span:first-of-type {
        margin-right: auto;
        display: inline-flex;
        margin-bottom: 5px;
      }
      .name__staff {
        font-size: $fs-big;
        font-weight: $fw-medium;
      }

      .rating {
        margin-bottom: 40px;
        i {
          color: rgb(232, 171, 5);
        }
      }
    }
  }
}
