@use 'variables' as *;
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 767px) {
  span,
  p {
    font-size: 1rem !important;
  }

  h1 {
    font-size: 2rem !important;
  }

  .burguer__menu {
    font-size: 1.5rem;
  }

  header {
    height: 100vh !important;
  }
  .img__header {
    display: block !important;
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      width: 1800px;
      top: 50%;
      transform: translate(-20%, -20%);
      left: 50%;
    }
  }

  .overlay {
    width: 75% !important;
    height: 100% !important;
    transform: skewX(9deg) !important;
  }

  //****************

  form {
    .input__wrp {
      flex-direction: row !important;
      justify-content: center !important;
      gap: 20px;
      margin-bottom: 20px !important;

      input {
        width: 43% !important;
      }
    }
    button {
      width: 30% !important;
    }
  }

  //*********
  .blog {
    .blog__content__wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr) !important;
    }
  }
  //**********
  footer {
    .footer__ct {
      display: flex !important;
      flex-direction: row !important;
      justify-content: center !important;
      align-items: center !important;
      gap: 2.8rem;

      .footer__links {
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        gap: 0.8rem;
      }
    }

    .links__ft__wrapper {
      display: flex !important;
    }

    .brand__logo__ft {
      gap: 1rem !important;
    }
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  span,
  p {
    font-size: 1.1rem !important;
  }

  h1 {
    font-size: 2.2rem !important;
  }

  .brand__logo,
  .brand__logo__ft {
    font-size: 3rem !important;
  }

  .nav__desktop {
    display: flex !important;
    align-items: center;
    gap: 1.5rem;
    a {
      color: $brand-color;
      font-weight: $fw-bold;
      transition: all 1.5 ease-in-out;
      &:hover {
        text-decoration: 2px solid underline $brand-color;
      }
    }
  }

  .desktop__contact {
    font-size: 1.1rem;
    display: flex !important;
    text-transform: uppercase;
    flex-direction: column;
    align-items: center;
    color: $body-color;
    font-weight: $fw-bold;
    justify-content: center;
    a {
      color: $body-color;
      font-weight: $fw-bold;
    }
  }

  .burguer__menu {
    display: none !important;
  }

  nav {
    margin-bottom: 200px !important;
  }
  .header__bottom__wrapper {
    display: flex;
    flex-direction: row !important;
    padding-top: 250px;
  }

  .img__header {
    img {
      transform: translate(-20%, -35%);
    }
  }
  .overlay {
    width: 65% !important;
    height: 100% !important;
    transform: skewX(25deg) !important;
    right: -20% !important;
  }

  //************
  .card__wrapper {
    grid-template-columns: repeat(5, 1fr) !important;
  }

  //********
  .contact__desktop__wrapper {
    display: flex;
    flex-direction: row-reverse;

    form {
      padding: 20px 40px !important;
      margin-right: 80px;

      .input__wrp {
        flex-direction: column !important;

        input {
          width: 100% !important;
        }
      }

      button {
        width: 100% !important;
      }
    }

    .details__wrapper {
      padding-top: 1rem;
      width: 50ch;
      margin-right: auto;
    }
  }
}
